{% extends 'orders/base.html' %}
{% load static %}

{% block extra %}
    <link rel="stylesheet" href="{% static 'orders/menu-style.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'order_pending' %}" method="post">
        {% csrf_token %}
        {% for menu_item in menu %}
            <div class="menu-item">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ forloop.counter0 }}">
                <span><img src="{{ menu_item.photo_url }}"/></span>
                <div>
                    <h3>{{ menu_item.dish }}</h3>
                    <p>{{ menu_item.description }}</p>
                </div>
                <input type="text" name="dish" id="dish{{ forloop.counter0 }}" hidden value="{{ menu_item.dish }}">
                <input type="text" name="description" id="description{{ forloop.counter0 }}" hidden
                       value="{{ menu_item.description }}">
            </div>
        {% endfor %}
        <input type="number" name="user_id" id="user_id{{ forloop.counter0 }}" hidden value="{{ user.id }}">
        <input type="submit" value="Order!">
    </form>
{% endblock %}