{% extends 'users/base.html' %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="login-container">
        <h2 class="login">Login</h2>

        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
            <a class="register" href="{% url 'register' %}">New? Create User...</a>
            <br />
            <br />
            <div><a class="home-link" href="{% url 'home' %}">Go Back Home</a></div>
        </form>
    </div>
{% endblock %}