{% extends 'users/base.html' %}

{% block content %}
    <div class="register-container">
        <h2 class="register-title">Register</h2>

        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.as_table }}
            <input class="button" type="submit" value="Register">
        </form>

        <br>
        <br>

        <a class="login button" href="{% url 'login' %}">Back to Login</a>
    </div>
{% endblock %}